/* 页脚区域 */

.footer-top {
  height: 75px;
  /* line-height: 75px; */
  /* padding: 27px 0; */
  /* 不要设置父元素行高，可以通过padding控制垂直方向上的居中，方便设置 短边框 */
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
  /* a元素的颜色用继承，就不需要重新写hover */
  color: #616161;
}

.footer-top a {
  width: 20%;
  height: 20px;
  /* 给a元素设置高度，会导致a元素一行没有居中在设置一个行高即可 */
  line-height: 20px;
  text-align: center;
  /* a元素的颜色用继承，就不需要重新写hover */
  /* color: #616161; */
  position: relative;
  font-size: 16px;
  border-right: 1px solid #e0e0e0;
}

/* a元素的颜色用继承，就不需要重新写hover */
/* .footer-top a:hover {
  color: #ff6700;
} */

/* 可以不用伪元素 */
/* .footer-top a::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 0;
  width: 1px;
  height: 20px;
  background-color: #e0e0e0;
} */

.footer-top a:last-child {
  border-right: none;
}

.footer-top .iconfont {
  font-size: 26px;
  vertical-align: -5px;
}

.footer-bottom {
  padding: 40px 0;
}

.footer-links {
  width: 160px;
  /* a元素的颜色用继承，就不需要重新写hover */
  color: #757575;
}

.footer-links h3 {
  font-size: 14px;
  font-weight: normal;
  color: #424242;
  margin-bottom: 17px;
}

.footer-links a {
  display: block;
  font-size: 12px;
  /* a元素的颜色用继承，就不需要重新写hover */
  /* color: #757575; */
  margin-top: 10px;
}

/* a元素的颜色用继承，就不需要重新写hover */
/* .footer-links a:hover {
  color: #ff6700;
} */

.footer-contact-me {
  width: 245px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  font-size: 12px;
  color: #616161;
}

.footer-phone-num {
  font-size: 22px;
  color: #ff6700;
}

.footer-phone-desc {
  /* margin: 5px 0; */
}

.footer-staff-service {
  display: block;
  width: 118px;
  height: 30px;
  line-height: 30px;
  color: #ff6700;
  margin: 7px auto;
  /* 设置了文字颜色，边框可以省略 */
  border: 1px solid;
  /* border: 1px solid #ff6700; */
}

.footer-staff-service .iconfont {
  font-size: 14px;
}

.footer-staff-service:hover {
  background-color: #ff6700;
  color: #fff;
}

.footer-subscribe span {
  vertical-align: 3px;
}

.footer-subscribe .iconfont {
  font-size: 20px;
  cursor: pointer;
}

.footer-subscribe .iconfont:hover {
  color: #ff6700;
}
