/* 页头logo和菜单样式 */

.header {
  height: 100px;
  /* line-height: 100px; */
  /* background-color: lightblue; */
  position: relative;
}

.header-logo {
  width: 56px;
  height: 56px;
  /* background: url("../img/logo.png") no-repeat left top/100%; */
  background: url("../img/logo.png");
  background-size: 56px 56px;
  /* padding-top: 56px;
    overflow: hidden; */
  margin-top: 22px;
}

.header-logo h1 {
  display: none;
}

.header-menu {
  margin-left: 172px;
}

.header-menu>a {
  /* margin: 0 10px; */
  /* 用padding好一些，不然用户需要精准指中 */
  padding: 0 10px;
  font-size: 16px;
  /* 高度不能设置百分比，因为父元素header-menu没有高度 */
  /* height: 100%; */
  height: 100px;
  line-height: 100px;
}

.header-submenu {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 30px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    z-index: 30;
    display: none;
}

/* .header-menu>a:hover~.header-submenu {
    display: block;
}
.header-submenu:hover {
    display: block;
} */
 /* hover到整个菜单显示二级菜单 */
 .header-menu:hover .header-submenu {
    display: block;
}

.header-submenu a {
    width: 204px;
    text-align: center;
    font-size: 12px;
}

.header-cover {
    width: 160px;
    height: 100px;
    border-right: 1px solid #eee;
    margin: 0 auto;
}

.header-submenu a:last-child .header-cover {
    border-right: none;
}

.header-cover img {
    width: 100%;
    height: 100%;
    display: block;
}

.header-title {
    color: #333;
    margin-top: 10px;
}

.header-price {
    color: #ff6700;
}

/* 搜索区域 */
.header-search {
    margin-top: 25px;
    position: relative;
}

.header-search input {
    width: 245px;
    height: 50px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-right: -1px;
}

/* 鼠标移入文本框效果 */
.header-search input:hover {
    color: #aaa;
}

.header-search input::placeholder {
    font-size: 16px;
}

.header-search input:focus {
    border: 1px solid #ff6700;
    outline: none;
}

.header-search-icon {
    width: 55px;
    height: 50px;
    color: #616161;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.header-search-icon .iconfont {
    font-size: 20px;
}

.header-search-icon:hover {
    background-color: #ff6700;
    color: #fff;
}

.header-search input:focus~.header-search-icon {
    border: 1px solid #ff6700;
}

.header-search-suggest {
    border: 1px solid #ff6700;
    position: absolute;
    left: 0;
    top: 50px;
    width: 245px;
    margin-top: -1px;
    display: none;
    z-index: 40;
    background-color: #fff;
}

.header-search input:focus~.header-search-suggest {
    display: block;
}

.header-search-suggest a {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #333;
    padding: 0 10px;
    font-size: 12px;
}

.header-search-suggest a:hover {
    background-color: #eee;
}