/* 顶部导航样式 */
.topnav {
  height: 40px;
  background-color: #333;
  color: #b0b0b0;
  font-size: 12px;
  /* 影响范围太广，还有个购物车 */
  /* line-height: 40px; */
}

.topnav-menu {
  line-height: 40px;
}

.topnav-menu li a {
  /* 边框另一种设置方式（不需要伪元素） */
  /* 1. 设置内边距 */
  padding: 0 7px;
  /* 2. 给a元素设置边框 */
  border-right: 1px solid #424242;
}

/* a:last-child每一个都是最后一个元素 */
.topnav-menu li:last-child a {
  border-right: none;
}

.topnav-menu li:first-child a {
  padding-left: 0;
}

.topnav-menu a:hover {
  color: #fff;
}
